@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

*{
    z-index: 99;
}

/*page 1*/
body {
    z-index: 99;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

.page1container {
    width: 100%;
    height: 100vh;
    background-image: url(../content/Weekendje-Deventer-tips.jpg);
    background-position: center top;
	background-size:cover;
    display: flex;
}

.overonsTitel{
    z-index: 500;
    padding: 1%;
    border:  red 2px;
    height: 15%;
    width: 90%;
    border-radius: 1rem;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:9% ;
}

.overonsTitel h1{
    border-bottom:2px white solid ;
    width: 50%;
    font-size: 150px;
    font-family: 'PT Serif', serif;
    color: aliceblue;
}

/*page2*/

.page2container {
    height: 100vh;
    background: rgb(30, 30, 30) ;
    color: white;
    display: flex; 
    padding-left: 1rem;
    align-items: center;
    justify-content: space-around; 
    border: 3px red;
}

.page2container img{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem ;
    padding-bottom: 1rem;
}
.intro{
    z-index: 50;
    height: 70vh;
}

.intro h2{
    font-size: 45px;
    border-bottom: solid white 2px;
    width: 75%;
    margin-bottom: 5%;
    padding-bottom: 0%;
    margin-left: 3%;
    margin-top:3%;
}

.intro p {
    font-family: 'PT Serif', serif;
    letter-spacing: 0.5px;
    font-size: 20px;
    text-align: left;
    padding-left: 3%;
}

.page2container img {
    z-index: 40;
    height: 90%;
}

/*page3*/

.page3container {
    height: 100vh;
    background: rgb(30, 30, 30) ;
    color: white;
    display: flex; 
    padding-left: 1rem;
    align-items: center;
    justify-content: space-around; 
}

.intro3{
    padding-left: 3rem;
    z-index: 50;
    height: 70vh;
}

.intro3 h2{
    float: left;
    font-size: 45px;
    border-bottom: solid white 2px;
    width: 75%;
    margin-bottom: 5%;
    padding-bottom: 0%;
    margin-left: 3%;
    margin-top:3%;
}

.intro3 p {
    font-family: 'PT Serif', serif;
    letter-spacing: 0.5px;
    font-size: 20px;
    text-align: left;
    padding-left: 3%;
}

.page3container img {
    z-index: 40;
    width: 50%;
    height: 70%;
    background-position: center top;
	background-size:cover;
    display: flex;
}
