@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

*{
    z-index: 99;
}

/*page 1*/
body {
    font-family: "Quicksand", sans-serif;
    z-index: 90;
    background-color: #0079ca;
}

.page1container {
    width: 100%;
    height: 100vh;
    background-image: url(../content/Deventer-3.jpg);
    background-position: center top;
	background-size:cover;
    display: flex;
}

.overonsTitel{
    z-index: 80;
    padding: 1%;
    border:  red 2px;
    height: 15%;
    width: 90%;
    border-radius: 1rem;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 17%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:9% ;
}

.overonsTitel h1{
    width: 50%;
    font-size: 150px;
    font-family: 'PT Serif', serif;
    color: aliceblue;
}

/*contact us page 2*/

li,ul{list-style:none;padding:0;margin:0}.sec-title{position:relative;padding-bottom:20px; padding-left:2% ;}.sec-title .title{position:relative;color:#050505;font-size:18px;font-weight:700;padding-right:50px;margin-bottom:15px;display:inline-block;text-transform:capitalize}.sec-title .title:before{position:absolute;content:'';right:0;bottom:7px;width:40px;height:1px;background-color:#bbb}.sec-title h2{position:relative;color:#252525;font-size:36px;font-weight:700;line-height:1.5em;display:block}.sec-title.light h2{color:#fff}.contact-page-section{z-index:60; position:relative;padding-top:30px; padding-bottom: 0px; background-color: #0079ca;}.contact-page-section .inner-container{position:relative;z-index:1;background-color:#0079ca;box-shadow:0 0 15px 5px rgba(0,0,0,.1)}.contact-page-section .form-column{position:relative;padding:0 0 0 15px}.contact-page-section .form-column .inner-column{position:relative; padding:45px 30px; background-color:#fff}.contact-page-section .info-column{position:relative}.contact-page-section .info-column .inner-column{position:relative;padding:60px 35px}.contact-page-section .info-column h2{position:relative;color:#fff;font-size:30px;font-weight:700;line-height:1.4em;margin-bottom:45px; margin-left:3%}.contact-page-section .info-column .list-info{position:relative;margin-bottom:20px; border-bottom: white solid 2px; width: 90%; border-top: white solid 2px; width: 90%;}.contact-page-section .info-column .list-info li{position:relative;margin-bottom:25px;font-size:18px;color:#fff;line-height:1.8em;padding-left:45px}.contact-page-section .info-column .list-info li:last-child{margin-bottom:0}.contact-page-section .info-column .list-info li i{position:absolute;left:0;top:8px;color:#fff;font-size:30px}.contact-form{position:relative}.contact-form .form-group{position:relative;margin-bottom:20px}.contact-form input[type=text],.contact-form input[type=email],.contact-form textarea{position:relative;display:block;width:100%;height:60px;color:#222;font-size:14px;line-height:38px;padding:10px 30px;border:1px solid #ddd;background-color:#fff;transition:all .3s ease;-ms-transition:all .3s ease;-webkit-transition:all .3s ease}.contact-form input[type=text]:focus,.contact-form input[type=email]:focus,.contact-form textarea:focus{border-color:#00b8ca}.contact-form textarea{height:250px;resize:none}.contact-form .theme-btn{font-size:16px;font-weight:700;margin-top:10px;text-transform:capitalize;padding:16px 39px;border:2px solid #00b8ca;font-family:Arimo,sans-serif;background:#00b8ca;display:inline-block;position:relative;line-height:24px;cursor:pointer;color:#fff}.contact-form .theme-btn:hover{color:#00b8ca;border-color:#00b8ca;background:0 0}.contact-form input.error,.contact-form select.error,.contact-form textarea.error{border-color:red!important}.contact-form label.error{display:block;line-height:24px;padding:5px 0 0;margin:0;text-transform:uppercase;font-size:12px;color:red;font-weight:500}.social-icon-four{position:relative}.social-icon-four li{position:relative;margin-right:18px;display:inline-block}.social-icon-four li.follow{color:#fff;font-weight:600;font-size:24px;display:block;margin-bottom:20px}.social-icon-four li a{position:relative;font-size:20px;color:#fff;-webkit-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}.social-icon-four li a:hover{color:#222}
