@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
body {
    z-index: 99;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background:rgb(255, 228, 153);
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.trans-logo {
    padding-top: 0.1rem;
    width:5%; /* you can use % */
    height: auto;
    float: left;
}


.nav div.logo {
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    float: left;
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #0177a9;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #0177a9;
}

/* Alert section*/
.customAlert {
    display: none;
    position: fixed;
    max-width: 25%;
    min-width: 250px !important;
    min-height: 28%;
    height: 20px;
    left: 80%;
    top: 71%;
    padding: 10px;
    border-radius: 2rem;
    box-sizing: border-box;
    background: #1a66bd;
}

.popUpButton {
    margin-top: 26px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    text-decoration: underline;
}

.popUpButton :hover {
    cursor: pointer !important;
    background-color: #1a66bd !important;
}
@media all and (max-width: 1300px) {
    .customAlert .message {
        font-size: 14px !important;
   }
    .customAlert input[type='button'] {
        height: 15% !important;
   }
}
.popUpMessage {
    border: red 1px;
    height: 70%;
}

.popUpMessage h3 {
    font-size: 25px;
    color: white;
}

.popUpMessage h4 {
    padding-top: 3px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.customAlert .message {
    padding: 0px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}
.customAlert input[type='button'] {
    position: absolute;
    top: 100%;
    left: 95%;
    width: 25%;
    height: 36px;
    margin-top: -45px;
    margin-left: -25%;
    outline: 0;
    border: 0;
    border-radius: 10rem;
    background:#052f5f;
    color: white;
}
.customAlert input[type='button']:hover {
    transition: 0.3s;
    cursor: pointer;
    background: #05cd99;
}
.rab {
    width: 200px;
    height: 30px;
    outline: 0;
    border: 0;
    color: white;
    background: #039b73;
}
@keyframes fadeOut {
    from {
        opacity: 1;
   }
    to {
        opacity: 0;
   }
}
@keyframes fadeIn {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}

/* Home section */

.home {
    width: 100%;
    height: 98vh;
    background-image: url(../content/DeventerWillaminaBrug.jpg);
    background-position: center top;
	background-size:cover;
    display: flex;
}

  
.howtohelp {
    z-index: 88;
    position: relative;
    border: solid rgba(255, 0, 0, 0) 5px;
    width: 23%;
    height: 100vh;
    margin-left: 20rem;
}

h2 {
    width: 30rem;
    font-family: 'Libre Baskerville', serif;
    padding-top: 3rem;
    padding-left: 2rem;
    font-size: 40px;
}

.howtohelp_block{
    position: relative;
    margin-top: 50%;
    height: 65%;
    background-color: #ffffff;
    border-radius:0% 10% / 0% 8%; 
    box-shadow: 0px 1px 11px 7px rgba(0, 0, 0, 0.47);
}

.searchblock input[type=text] {
    float: left;
    padding: 6px;
    width: 90%;
    border: black solid 1px;
    background-color: #e7e7e700;
    margin-top: 30px;
    margin-left: 16px;
    font-size: 17px;
    margin-bottom: 3rem;
  }

.howtohelp_tags {
    justify-items: center;
}

.button {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    height: 3rem;
    width: auto;
    padding: 3%;
    margin-left: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #0177a9;
    border: black solid 1px;
    border-radius: 1rem;
    transition: 0.2s;
}

button:hover {
    background-color: #00415d;
    transition: 0.2s;
}

.button a {
    text-decoration: none;
    color: #E7E7E7;
}


.slogandeventer {
    z-index: 80;
    width: 50%;
    height: 80vh;
    margin-left: 8rem;
}


.slogantext h1 {
    box-shadow: 0px 1px 11px 7px rgba(0, 0, 0, 0.47);
    text-align:left;
    margin-top: 44vh;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    background-color: rgba(17, 17, 17, 0.632);
    border-radius: 2rem;
    font-family: 'Source Serif Pro', serif;
    font-size: 600%;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.animation {
    animation: zoomer 0.5s linear;
  }

@keyframes slogantext{
    0% {
      font-size: 300px;
    }
    100% {
      font-size: 30px;
    }
}

/*--------------------------------------------------------------------------------------
about us part
----------------------------------------------------------------------------------------*/
.divider {
    background: rgba(13, 74, 195, 0.236);
    width: 100%;
    height: 8vh;
}
.divider-line{
    justify-content: center;
    width: 90%;
    margin: auto;
    padding-top: 4vh ;
    border-bottom: white solid 2px;
}

/*--------------------------------------------------------------------------------------
about us part
----------------------------------------------------------------------------------------*/

.aboutSection {
    width: 100%;
    height: 100vh;
    background-image: url(../content/53032344_989693727894496_245942007896211456_n.jpg);
    background-position: center top;
	background-size:cover;
    display: flex;
}

.about-titel {
    z-index: 50;
    float: right;
    text-align: center;
    margin-left: 0%;
    margin-top: 15%;
    height: fit-content;
    background: rgba(17, 17, 17, 0.314);
    padding-bottom: 3%;
}

.about-titel h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90px;
    color: whitesmoke;
}

.textframe{
    z-index: 40;
    margin-left: 6%;
    background-color: rgba(0, 0, 0, 0.655);
    border: red 2px solid;
    margin-top: 6%;
    height: 80%;
    width: 60%;
}

.titelTextFrame {
    color: white;
    width: 100rem;
}

.textframe h4{
    padding-top: 4%;
    padding-left: 3%;
    color: white;
    font-size: 20px;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .howtohelp{
        z-index: 10;
        border: solid rgb(59, 156, 62) 5px;
        margin: auto;
        width: 70%;
        padding: 10px;
    }

    .howtohelp_block{
        margin-top: 30vh;
        height: 50vh;
        background-color: #eeeeee;
        border-radius: 10% 0% / 15% 0%; 
        border: 0px solid #FFFFFF;
    }

    .navTrigger {
        display: block;
    }
    .trans-logo {
        padding-top: 1rem;
        width:10%; /* you can use % */
        height: auto;
        float: left;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 3vh;
    top: 2rem;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}









@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}